body {
      background: #f8f9fa;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
}

.col-2{
      text-align: center;
}

.calculator {
    width: 320px;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.display, .form-control{
      height: 120px;
      font-size: 2rem;
      text-align: right;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      margin-bottom: 15px;
      background: #f1f3f5;
}

btn {
      font-size: 1.2rem !important;
      padding: 15px;
    }

.memory-btn {
      font-size: 0.9rem !important;
      padding: 2px 0px !important;
      width: 15%;
      margin-left: 4.35px;
}