body {
      background: #f8f9fa;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
}

.col-2{
      text-align: center;
}

.calculator {
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.display, .form-control{
      height: 110px;
      font-size: 2rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      margin-bottom: 15px;
      background: #f1f3f5;
      align-items: start;}

.display-area, .input-area {
      height: 30px;
      font-size: 1.5rem !important;
      border: none;
      margin-top: 0px;
      color: darkgray;
      width: 100%;
      padding-right: 2.3px;
}

.input-area {
      height: 40px;
      font-size: 2rem !important;
      color: black;
      padding-right: 0px;
}

.btn {
      font-size: 1rem !important;
      padding: 10px;
    }

.memory-btn {
      font-size: 0.9rem !important;
      padding: 2px 0px !important;
      width: 15%;
      margin-left: 5.47px;
}